

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}.speech-emotion-detector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  padding: 30px 0;
  box-shadow: 0 0 20px rgba(199, 199, 199, 0.4);
  border-radius: 25px;
  gap: 20px;
  background-color: white;
}

.title {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
}

.upload-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid gray;
  gap: 10px;
}

.file-input {
  display: none;
}

.clear-button {
  padding: 8px;
  border: none;
  background-color: red;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.recorder-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.record-button {
  padding: 12px 24px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.record-button.recording {
  background-color: red;
}

.record-button:not(.recording) {
  background-color: green;
}

.audio-player {
  margin-top: 10px;
}

.emotion-display {
  padding: 3px 10px;
  margin: 0;
}

.emotion-success {
  color: #00ff08;
}

.emotion-error {
  color: red;
}

.detect-button {
  padding: 12px 20px;
  border: none;
  background-color: #ff00008d;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detect-button:hover {
  background-color: #ff0000;
}
